[submodule "moodle-qtype_matrix"]
	path = question/type/matrix
	url = https://github.com/ndunand/moodle-qtype_matrix
[submodule "moodle-mod_questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire
[submodule "local/moodle-local_youtube_events"]
	path = local/youtube_events
	url = https://github.com/KEEP-EDU-HK/moodle-local_youtube_events
[submodule "moodle-local_mobile"]
	path = local/mobile
	url = https://github.com/moodlehq/moodle-local_mobile
[submodule "keepcourselist"]
	path = local/keepcourselist
	url = https://github.com/KEEP-EDU-HK/keepcourselist
[submodule "moodle-filter_videoeasy"]
	path = filter/videoeasy
	url = https://github.com/justinhunt/moodle-filter_videoeasy
[submodule "moodle-enrol_apply"]
	path = enrol/apply
	url = https://github.com/emeneo/moodle-enrol_apply
[submodule "moodle-enrol_autoenrol"]
	path = enrol/autoenrol
	url = https://github.com/bobopinna/moodle-enrol_autoenrol
[submodule "auth/auth"]
	path = auth/saml
	url = https://github.com/moodle-saml/auth
